@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  p {
    @apply text-lg text-gray-neutral;
  }

  ul {
    @apply text-gray-neutral;
  }

  li {
    @apply text-lg text-gray-neutral;
  }

  h1 {
    @apply text-7xl font-bold text-very-dark-violet;
  }

  h2 {
    @apply text-4xl font-bold text-gray-neutral;
  }

  h3 {
    @apply text-2xl font-bold text-gray-neutral;
  }

  h4 {
    @apply text-xl font-bold text-gray-neutral;
  }
}
