@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Poppins, serif';
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

@layer components {
}
